<%- include('cabecera'); %>
<link rel="stylesheet" href="/public/stylesheets/ahorcado.css">
<body>
    <main>
    <div>
        <div id="frase" class="frase"></div>
        <p id="intentos"></p>
        <input type="text" id="letrah">
        <button type="submit" class="button" id="enviar">Intentar</button>
        <button  id="reiniciar" class="button">Reiniciar</button>
    </div>
    <script src="/public/javascripts/ahorcado.js"></script>
</main>
</body>
</html>