
<%- include('cabecera'); %>
<link rel="stylesheet" href="/public/stylesheets/dino.css">

    <header>
        <h1>
            square run
        </h1>
    </header>
    <canvas id="canvas"></canvas>
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script src="/public/javascripts/dino.js"></script>
  </body>
</html>
