<!DOCTYPE html>
<html>
  <%- include('cabecera'); %>
  <link rel="stylesheet" href="/public/stylesheets/home.css">
  <body>
    <h1>Bienvenido a minijuegosXD</h1>
    <p>Estas son las ultimas noticias</p>
    




    <small>Gemma apruebame</small>
  </body>
</html>
