<%- include('cabecera'); %>
<link rel="stylesheet" href="/public/stylesheets/juegos.css">

<body>
    <section id="juegos">
    <div style="width: 500px; height: 2 00px;" >
        <H1>Square Run</H1>
       <a href="/juegos/square"> <img src="/public/images/capturadino.png" alt=""></a>
    </div> 
    <div style="width: 500px; height: 200px;">
        <h1> Ahorcado </h1>
        <a href="/juegos/ahorcado"><img src="https://img.freepik.com/vector-gratis/concepto-craneo-humano-vintage_225004-1268.jpg" alt=""></a>
    </div>     
    </section>
</body>
</html>